@font-face {
  font-family: 'Saol Text';
  font-weight: 700;
  font-style: italic;
  src: url('Saol Text Bold Italic.eot');
  src: url('Saol Text Bold Italic.eot?#iefix') format('embedded-opentype'),
       url('Saol Text Bold Italic.woff') format('woff');
}
