@font-face {
  font-family: 'Noe Display';
  font-weight: 600;
  src: url('Noe Display Medium.eot');
  src: url('Noe Display Medium.eot?#iefix') format('embedded-opentype'),
       url('Noe Display Medium.woff') format('woff');
}
