@font-face {
  font-family: 'Chap';
  font-weight: 500;
  font-style: normal;
  src: url('Chap Medium.eot');
  src: url('Chap Medium.eot?#iefix') format('embedded-opentype'),
       url('Chap Medium.woff') format('woff');
}
