@font-face {
  font-family: 'Chap';
  font-weight: 500;
  font-style: italic;
  src: url('Chap Medium Italic.eot');
  src: url('Chap Medium Italic.eot?#iefix') format('embedded-opentype'),
       url('Chap Medium Italic.woff') format('woff');
}
