@font-face {
  font-family: 'Chap';
  font-weight: 300;
  font-style: normal;
  src: url('Chap Light.eot');
  src: url('Chap Light.eot?#iefix') format('embedded-opentype'),
       url('Chap Light.woff') format('woff');
}
