@font-face {
  font-family: 'Noe Display';
  font-weight: 900;
  font-style: normal;
  src: url('Noe Display Black.eot');
  src: url('Noe Display Black.eot?#iefix') format('embedded-opentype'),
       url('Noe Display Black.woff') format('woff');
}
