@font-face {
  font-family: 'Trio Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('Trio Grotesk Normal.eot');
  src: url('Trio Grotesk Normal.eot?#iefix') format('embedded-opentype'),
       url('Trio Grotesk Normal.woff') format('woff');
}
