@font-face {
  font-family: 'Krana Fat A';
  font-weight: 400;
  font-style: normal;
  src: url('Krana Fat A.eot');
  src: url('Krana Fat A.eot?#iefix') format('embedded-opentype'),
       url('Krana Fat A.woff') format('woff');
}
